<div>
  <navegador></navegador>

  <div class="contenido" >
    <h1 class="titulo-grande">BIENVENIDO</h1>
    <p class="parrafo-grande">¿Que desea hacer?</p>
    <div class="seccion"><a href="#/prescripcion"><div class="secciones primer-item"><img src="img/prescripcion.svg"></div></a><h5 class="item-titulo">PRESCRIPCIONES</h5></div>
    <div class="seccion"><a href="#/inventario"><div class="secciones segundo-item"><img src="img/inventario.svg"></div></a><h5 class="item-titulo">INVENTARIO</h5></div>
    <div class="seccion"><a href="#/historial"><div class="secciones tercer-item"><img src="img/historial.svg"></div></a><h5 class="item-titulo">HISTORIAL</h5></div>
    <div class="seccion"><a href="#/reporte"><div class="secciones cuarto-item"><img src="img/reporte.svg"></div></a><h5 class="item-titulo">REPORTE</h5></div>
<p>{{weburl}}</p>

  </div>
</div>
